.heading {
    background-color: #3E69DC;
    padding: 2em;
}

.responsive-header-text {
    font-size: 2.4em;
}

.responsive-body-text {
    font-size: 1.5em;
}

.divider {
    max-width: 30.25rem;
    border-width: 0.2rem;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
}

.change-btn {
    transition: all 200ms linear 0s;
}

.change-btn:hover {
    background-color: #3E69DC;
    border-color: white;
    color: white;
}

.adjust-margins {
    margin-left: 10vw;
    margin-right: 10vw;
}

.facts {
    background-color: white;
}