.page-section {
    padding: 2.5em;
}

.blue-font {
    color: #3E69DC;
    text-align: center;
}

.blue-divider {
    border-color: blue !important;
}

/* Mostly Heading CSS */
.heading {
    background-color: #3E69DC;
    padding: 2em;
}

.responsive-header-text {
    font-size: 2.4em;
}

.responsive-body-text {
    font-size: calc(18px + 0.5vw);
}

.divider {
    max-width: 30.25rem;
    border-width: 0.2rem;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
}

.change-btn {
    color: #3E69DC;
    background-color: white;
    border-color: white;
    transition: all 200ms linear 0s;
}

.change-btn:hover {
    background-color: #3E69DC;
    border-color: white;
    color: white;
}

.adjust-margins {
    margin-left: 10vw;
    margin-right: 10vw;
}

/* Mostly DonationInfo CSS */
.text-grow {
    transition: all .2s ease-in-out; 
}
.text-grow:hover {
    color:black;
    font-size:1.1em;
}

.change-btn-inverse {
    background-color: #3E69DC;
    color: white;
    transition: all 200ms linear 0s;
    margin: 20px;
    /* border-radius: %; */
}
.change-btn-inverse:hover {
    color: #3E69DC;
    background-color: black;
    border-color: black;
}