.main-layout {
    margin-top: calc(20px + 2vw);
    padding-left: calc(15px + 8vw);
    padding-right: calc(15px + 8vw);

}


/* Mostly AboutUs CSS */
/* these ended up being global lol */

.about-us-page h1 {
    font-size: calc(40px + 1.3vw);
    margin-bottom: calc(10px + 2vw);
}

.about-us-page p {
    color: grey;
    margin-top: calc(10px + 1.5vw);
    margin-bottom: calc(10px + 1.5vw);
    font-size: calc(15px + 0.5vw);
}

.about-us-page a {
    color: black !important;
    text-decoration: underline !important;
}

.about-us-page a:hover {
    color: #3E69DC !important;
    text-decoration: underline !important;
}

/* Mostly FAQ CSS */
.email-info {
    font-style: italic;
}